name: SonarCloud Scan

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sonarcloud:
    name: Run SonarCloud Scanner
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Download SonarScanner
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            sonar-scanner
            -Dsonar.projectKey=murilofontes1_hospital-management
            -Dsonar.organization=murilofontes1
            -Dsonar.sources=src
            -Dsonar.host.url=https://sonarcloud.io
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
