name: SonarCloud Scan

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sonarcloud:
    name: Run SonarCloud Scanner
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run SonarCloud Scanner
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.projectKey=murilofontes1_hospital-management
            -Dsonar.organization=murilofontes1
